################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sitecore.Foundation.Field.MultiSingleLineListField/v15/Server/sqlite3
/obj/Debug
/CodeBase/.vs/Sitecore.Foundation.Field.MultiSingleLineListField/v15/Server/sqlite3
/CodeBase/obj
!/CodeBase/Libraries
