<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <controlSources>
      <source mode="on" namespace="Sitecore.Foundation.Field.MultiSingleLineListField.Editor"  assembly="Sitecore.Foundation.Field.MultiSingleLineListField" prefix="CustomField"/>
    </controlSources>

  </sitecore>
</configuration>